<!DOCTYPE html>
<html>

<head>
    <title>MacroPlanner</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <header class="navHeader scrolledSticky" id="navHeader">
        <nav>
            <div class="navBlocker"></div>
            <ul class="navHeaderLogoul">
                <li class="navHeaderLogo">
                    <div onclick="location.href='/';" style="cursor: pointer;">
                        <img src="images/placeholderlogo.png">
                        <h1>MacroPlanner</h1>
                    </div>
                </li>
                <li class=" navHeaderSpacer"></li>
            </ul>
            <ul class="navMenu">
                <li class="navLink" onclick="location.href='/recipes';"><a>Recipes</a></li>
                <li class="navLink" onclick="location.href='/blog';"><a>Blog</a></li>
                <li class="navLink" onclick="location.href='/about';"><a>About</a></li>
                <li class="navLink" onclick="location.href='/contact';"><a>Contact</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <header class="placeholderheader">
        <div>
            <h1>
                About
            </h1>
        </div>
    </header>
    <section>
        <div class="placeholderbox"></div>
        <div class="placeholderbox"></div>
        <div class="placeholderbox"></div>
        <div class="placeholderbox"></div>
        <div class="placeholderbox"></div>
        <div class="placeholderbox"></div>
        <div class="placeholderbox"></div>
    </section>
    <footer>
        123 Main Street • 555-555-5555 • support@us.com
    </footer>
    <script src="./navHamburger.js"></script>
</body>

</html>