<!DOCTYPE html>
<html>

<head>
    <title>MacroPlanner</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body>
    <header class="navHeader scrolledSticky" id="navHeader">
        <nav>
            <ul>
                <li class="navHeaderLogo">
                    <div onclick="location.href='/';" style="cursor: pointer;">
                        <img src="images/placeholderlogo.png">
                        <h1>MacroPlanner</h1>
                    </div>
                </li>
                <li class=" navHeaderSpacer">
                </li>
                <li onclick="location.href='/recipes';"><a>Recipes</a></li>
                <li onclick="location.href='/blog';"><a>Blog</a></li>
                <li onclick="location.href='/about';"><a>About</a></li>
                <li onclick="location.href='/contact';"><a>Contact</a></li>
            </ul>
        </nav>
    </header>
    <section id="recipePageSection" style="display: none;">
        <div class="recipePageHeader">
            <div class="recipePageHeaderText" id="recipePageHeaderText">
                <p class="recipePageHeaderRecipe" id="recipename"></p>
                <div class="recipePageHeaderInfo">
                    <div class="recipePageHeaderInfoDiv">
                        <p id="recipeserving"></p>
                        <p id="recipetime"></p>
                    </div>
                    <div class="recipePageHeaderInfoDivider"></div>
                    <div class="recipePageHeaderInfoDiv">
                        <p id="recipecalorie"></p>
                        <p id="recipeprotein"></p>
                        <p id="recipecarb"></p>
                        <p id="recipefat"></p>
                    </div>
                </div>
            </div>
            <img id="imagetest" class="recipePageHeaderImg"></img>
        </div>
        <div class="recipePageMain">
            <div class="recipePageMainLeft"> 
                <div class="ingredientstepinfo">
                    <div>
                        <p class="ingredientinfoheader1" id="ingredientmaintitle"></p>
                        <p class="ingredientstepinfoheader2" id="ingredientstitle0" style="display: none"></p>
                        <table class="ingredientinfotext" id="ingredients0" style="display: none"></table>
                        <p class="ingredientstepinfoheader2" id="ingredientstitle1" style="display: none"></p>
                        <table class="ingredientinfotext" id="ingredients1" style="display: none"></table>
                        <p class="ingredientstepinfoheader2" id="ingredientstitle2" style="display: none"></p>
                        <table class="ingredientinfotext" id="ingredients2" style="display: none"></table>
                        <p class="ingredientstepinfoheader2" id="ingredientstitle3" style="display: none"></p>
                        <table class="ingredientinfotext" id="ingredients3" style="display: none"></table>
                        <p class="ingredientstepinfoheader2" id="ingredientstitle4" style="display: none"></p>
                        <table class="ingredientinfotext" id="ingredients4" style="display: none"></table>
                        <p class="ingredientstepinfoheader2" id="ingredientstitle5" style="display: none"></p>
                        <table class="ingredientinfotext" id="ingredients5" style="display: none"></table>
                    </div>
                    <!-- <div class="ingredientstepdivider"></div> -->
                    <div class="stepinfodiv">
                        <p class="ingredientstepinfoheader1" id="stepmaintitle"></p>
                        <p class="ingredientstepinfoheader2" id="stepstitle0" style="display: none"></p>
                        <table class="stepinfotext" id="steps0" style="display: none"></table>
                        <p class="ingredientstepinfoheader2" id="stepstitle1" style="display: none"></p>
                        <table class="stepinfotext" id="steps1" style="display: none"></table>
                        <p class="ingredientstepinfoheader2" id="stepstitle2" style="display: none"></p>
                        <table class="stepinfotext" id="steps2" style="display: none"></table>
                        <p class="ingredientstepinfoheader2" id="stepstitle3" style="display: none"></p>
                        <table class="stepinfotext" id="steps3" style="display: none"></table>
                        <p class="ingredientstepinfoheader2" id="stepstitle4" style="display: none"></p>
                        <table class="stepinfotext" id="steps4" style="display: none"></table>
                        <p class="ingredientstepinfoheader2" id="stepstitle5" style="display: none"></p>
                        <table class="stepinfotext" id="steps5" style="display: none"> </table>
                    </div>
                </div>
            </div>
            <div class="recipePageMainRight" id="recipePageMainRight"> 
                <p class="recipePageSideBarTitle">Also Try</p>
                <div class="recipePageSideBarDivider"></div>
                <div class="recipePageSideBarBox">
                    <div class="recipeWideCardContainer" id="1w">
                        <img class="recipeWideCardContainerImg" id="1recipeWideCardContainerImg" src="images/gray.jpg">
                        <div class="recipeWideCardContainerText">
                        <p class="recipeWideCardContainerRecipe" id="1recipeWideCardContainerRecipe"></p>
                        <p class="recipeWideCardContainerInfo">
                            <span id="1calw"></span>
                            <span id="1prow"></span>
                            <span id="1carw"></span>
                            <span id="1fatw"></span>
                        </p>
                        </div>
                    </div>
                    <div class="recipeWideCardContainer" id="2w">
                        <img class="recipeWideCardContainerImg" id="2recipeWideCardContainerImg" src="images/gray.jpg">
                        <div class="recipeWideCardContainerText">
                        <p class="recipeWideCardContainerRecipe" id="2recipeWideCardContainerRecipe"></p>
                        <p class="recipeWideCardContainerInfo">
                            <span id="2calw"></span>
                            <span id="2prow"></span>
                            <span id="2carw"></span>
                            <span id="2fatw"></span>
                        </p>
                        </div>
                    </div>
                    <div class="recipeWideCardContainer" id="3w">
                        <img class="recipeWideCardContainerImg" id="3recipeWideCardContainerImg" src="images/gray.jpg">
                        <div class="recipeWideCardContainerText">
                        <p class="recipeWideCardContainerRecipe" id="3recipeWideCardContainerRecipe"></p>
                        <p class="recipeWideCardContainerInfo">
                            <span id="3calw"></span>
                            <span id="3prow"></span>
                            <span id="3carw"></span>
                            <span id="3fatw"></span>
                        </p>
                        </div>
                    </div>
                    <div class="recipeWideCardContainer" id="4w">
                        <img class="recipeWideCardContainerImg" id="4recipeWideCardContainerImg" src="images/gray.jpg">
                        <div class="recipeWideCardContainerText">
                        <p class="recipeWideCardContainerRecipe" id="4recipeWideCardContainerRecipe"></p>
                        <p class="recipeWideCardContainerInfo">
                            <span id="4calw"></span>
                            <span id="4prow"></span>
                            <span id="4carw"></span>
                            <span id="4fatw"></span>
                        </p>
                        </div>
                    </div>
                    <div class="recipeWideCardContainer" id="5w">
                        <img class="recipeWideCardContainerImg" id="5recipeWideCardContainerImg" src="images/gray.jpg">
                        <div class="recipeWideCardContainerText">
                        <p class="recipeWideCardContainerRecipe" id="5recipeWideCardContainerRecipe"></p>
                        <p class="recipeWideCardContainerInfo">
                            <span id="5calw"></span>
                            <span id="5prow"></span>
                            <span id="5carw"></span>
                            <span id="5fatw"></span>
                        </p>
                        </div>
                    </div>
                    <div class="recipeWideCardContainer" id="6w">
                        <img class="recipeWideCardContainerImg" id="6recipeWideCardContainerImg" src="images/gray.jpg">
                        <div class="recipeWideCardContainerText">
                        <p class="recipeWideCardContainerRecipe" id="6recipeWideCardContainerRecipe"></p>
                        <p class="recipeWideCardContainerInfo">
                            <span id="6calw"></span>
                            <span id="6prow"></span>
                            <span id="6carw"></span>
                            <span id="6fatw"></span>
                        </p>
                        </div>
                    </div>
                    <div class="recipeWideCardContainer" id="7w">
                        <img class="recipeWideCardContainerImg" id="7recipeWideCardContainerImg" src="images/gray.jpg">
                        <div class="recipeWideCardContainerText">
                        <p class="recipeWideCardContainerRecipe" id="7recipeWideCardContainerRecipe"></p>
                        <p class="recipeWideCardContainerInfo">
                            <span id="7calw"></span>
                            <span id="7prow"></span>
                            <span id="7carw"></span>
                            <span id="7fatw"></span>
                        </p>
                        </div>
                    </div>
                    <div class="recipeWideCardContainer" id="8w">
                        <img class="recipeWideCardContainerImg" id="8recipeWideCardContainerImg" src="images/gray.jpg">
                        <div class="recipeWideCardContainerText">
                        <p class="recipeWideCardContainerRecipe" id="8recipeWideCardContainerRecipe"></p>
                        <p class="recipeWideCardContainerInfo">
                            <span id="8calw"></span>
                            <span id="8prow"></span>
                            <span id="8carw"></span>
                            <span id="8fatw"></span>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="reciperecentlyaddedbanner">
                You Might Also Like
            </div>
            <div class="exploreRecipeDiv">
                <div class="recipeSmallCardContainer" id="1linke">
                    <img id="1ie" src="images/gray.jpg">
                    <div class="recipeSmallCardOverlay"></div>
                    <div class="recipeSmallCardTextDiv">
                        <div class="recipeSmallCardRecipe">
                            <p class="recipeSmallCardRecipe" id="1te"></p>
                        </div>
                        <p class="recipeSmallCardInfo">
                            <span id="1cale"></span><br>
                            <span id="1proe"></span><br>
                            <span id="1care"></span><br>
                            <span id="1fate"></span><br>
                        </p>
                    </div>
                </div>
                <div class="recipeSmallCardContainer" id="2linke">
                    <img id="2ie" src="images/gray.jpg">
                    <div class="recipeSmallCardOverlay"></div>
                    <div class="recipeSmallCardTextDiv">
                        <div class="recipeSmallCardRecipe">
                            <p class="recipeSmallCardRecipe" id="2te"></p>
                        </div>
                        <p class="recipeSmallCardInfo">
                            <span id="2cale"></span><br>
                            <span id="2proe"></span><br>
                            <span id="2care"></span><br>
                            <span id="2fate"></span><br>
                        </p>
                    </div>
                </div>
                <div class="recipeSmallCardContainer" id="3linke">
                    <img id="3ie" src="images/gray.jpg">
                    <div class="recipeSmallCardOverlay"></div>
                    <div class="recipeSmallCardTextDiv">
                        <div class="recipeSmallCardRecipe">
                            <p class="recipeSmallCardRecipe" id="3te"></p>
                        </div>
                        <p class="recipeSmallCardInfo">
                            <span id="3cale"></span><br>
                            <span id="3proe"></span><br>
                            <span id="3care"></span><br>
                            <span id="3fate"></span><br>
                        </p>
                    </div>
                </div>
                <div class="recipeSmallCardContainer" id="4linke">
                    <img id="4ie" src="images/gray.jpg">
                    <div class="recipeSmallCardOverlay"></div>
                    <div class="recipeSmallCardTextDiv">
                        <div class="recipeSmallCardRecipe">
                            <p class="recipeSmallCardRecipe" id="4te"></p>
                        </div>
                        <p class="recipeSmallCardInfo">
                            <span id="4cale"></span><br>
                            <span id="4proe"></span><br>
                            <span id="4care"></span><br>
                            <span id="4fate"></span><br>
                        </p>
                    </div>
                </div>
                <div class="recipeSmallCardContainer" id="5linke">
                    <img id="5ie" src="images/gray.jpg">
                    <div class="recipeSmallCardOverlay"></div>
                    <div class="recipeSmallCardTextDiv">
                        <div class="recipeSmallCardRecipe">
                            <p class="recipeSmallCardRecipe" id="5te"></p>
                        </div>
                        <p class="recipeSmallCardInfo">
                            <span id="5cale"></span><br>
                            <span id="5proe"></span><br>
                            <span id="5care"></span><br>
                            <span id="5fate"></span><br>
                        </p>
                    </div>
                </div>
                <div class="recipeSmallCardContainer" id="6linke">
                    <img id="6ie" src="images/gray.jpg">
                    <div class="recipeSmallCardOverlay"></div>
                    <div class="recipeSmallCardTextDiv">
                        <div class="recipeSmallCardRecipe">
                            <p class="recipeSmallCardRecipe" id="6te"></p>
                        </div>
                        <p class="recipeSmallCardInfo">
                            <span id="6cale"></span><br>
                            <span id="6proe"></span><br>
                            <span id="6care"></span><br>
                            <span id="6fate"></span><br>
                        </p>
                    </div>
                </div>
                <div class="recipeSmallCardContainer" id="7linke">
                    <img id="7ie" src="images/gray.jpg">
                    <div class="recipeSmallCardOverlay"></div>
                    <div class="recipeSmallCardTextDiv">
                        <div class="recipeSmallCardRecipe">
                            <p class="recipeSmallCardRecipe" id="7te"></p>
                        </div>
                        <p class="recipeSmallCardInfo">
                            <span id="7cale"></span><br>
                            <span id="7proe"></span><br>
                            <span id="7care"></span><br>
                            <span id="7fate"></span><br>
                        </p>
                    </div>
                </div>
                <div class="recipeSmallCardContainer" id="8linke">
                    <img id="8ie" src="images/gray.jpg">
                    <div class="recipeSmallCardOverlay"></div>
                    <div class="recipeSmallCardTextDiv">
                        <div class="recipeSmallCardRecipe">
                            <p class="recipeSmallCardRecipe" id="8te"></p>
                        </div>
                        <p class="recipeSmallCardInfo">
                            <span id="8cale"></span><br>
                            <span id="8proe"></span><br>
                            <span id="8care"></span><br>
                            <span id="8fate"></span><br>
                        </p>
                    </div>
                </div>
                <div class="recipeSmallCardContainer" id="9linke">
                    <img id="9ie" src="images/gray.jpg">
                    <div class="recipeSmallCardOverlay"></div>
                    <div class="recipeSmallCardTextDiv">
                        <div class="recipeSmallCardRecipe">
                            <p class="recipeSmallCardRecipe" id="9te"></p>
                        </div>
                        <p class="recipeSmallCardInfo">
                            <span id="9cale"></span><br>
                            <span id="9proe"></span><br>
                            <span id="9care"></span><br>
                            <span id="9fate"></span><br>
                        </p>
                    </div>
                </div>
                <div class="recipeSmallCardContainer" id="10linke">
                    <img id="10ie" src="images/gray.jpg">
                    <div class="recipeSmallCardOverlay"></div>
                    <div class="recipeSmallCardTextDiv">
                        <div class="recipeSmallCardRecipe">
                            <p class="recipeSmallCardRecipe" id="10te"></p>
                        </div>
                        <p class="recipeSmallCardInfo">
                            <span id="10cale"></span><br>
                            <span id="10proe"></span><br>
                            <span id="10care"></span><br>
                            <span id="10fate"></span><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </section>
    <section>
        <div class="emptybox"></div>
        <div class="emptybox"></div>
    </section>
    <section id="recipePageEmptySection" style="display: block;">
        <div class="emptySection">
            <img class="loadingCircleImg" src="images/loading-gif2.gif">
            <div class="longeremptybox"></div>
            <div class="longeremptybox"></div>
            <div class="longeremptybox"></div>
        </div>
    </section>
    <footer>
        123 Main Street • 555-555-5555 • example@us.com
    </footer>
    <script src="./loadrecipe.js"></script>
</body>

</html>